version: '3.8'

services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    restart: always
    env_file: .env
    secrets:
      - db_root_password
      - db_password
      - wp_admin_user
    volumes:
      - db_volume:/var/lib/mysql
    networks:
      - inception_network

  redis:
    build: ./requirements/bonus/redis
    container_name: redis
    restart: always
    volumes:
      - redis_volume:/data
    networks:
      - inception_network

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    restart: always
    env_file: .env
    secrets:
      - db_password
      - wp_admin_user
    volumes:
      - wp_volume:/var/www/html
    networks:
      - inception_network
    depends_on:
      - mariadb
      - redis

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - wp_volume:/var/www/html
    networks:
      - inception_network
    depends_on:
      - wordpress

  adminer:
    build: ./requirements/bonus/adminer
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"
    networks:
      - inception_network
    depends_on:
      - mariadb

  ftp:
    build: ./requirements/bonus/ftp
    container_name: ftp
    restart: always
    secrets:
      - db_password
    volumes:
      - wp_volume:/var/www/html
    ports:
      - "21:21"
      - "21100-21110:21100-21110"
    networks:
      - inception_network
    depends_on:
      - wordpress

  portainer:
    build: ./requirements/bonus/portainer
    container_name: portainer
    restart: always
    ports:
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - inception_network

  website:
    build: ./requirements/bonus/website
    container_name: website
    restart: always
    ports:
      - "80:80"
    networks:
      - inception_network

volumes:
  db_volume:
    driver: local
    driver_opts:
      type: none
      device: /home/habenydi/data/db
      o: bind
  wp_volume:
    driver: local
    driver_opts:
      type: none
      device: /home/habenydi/data/wp
      o: bind
  redis_volume:
    driver: local
    driver_opts:
      type: none
      device: /home/habenydi/data/redis
      o: bind

networks:
  inception_network:
    driver: bridge

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
  wp_admin_user:
    file: ../secrets/wp_admin_user.txt
